/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00466c;
  --ifm-color-primary-dark: #003f61;
  --ifm-color-primary-darker: #003c5c;
  --ifm-color-primary-darkest: #00314c;
  --ifm-color-primary-light: #004d77;
  --ifm-color-primary-lighter: #00517c;
  --ifm-color-primary-lightest: #005b8c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #89d6fe;
  --ifm-color-primary-dark: #62c9fe;
  --ifm-color-primary-darker: #4fc2fe;
  --ifm-color-primary-darkest: #15aefd;
  --ifm-color-primary-light: #b0e3fe;
  --ifm-color-primary-lighter: #c3eafe;
  --ifm-color-primary-lightest: #fdfeff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Removes the external link icon specifically in the footer */
.footer__link-item svg {
  display: none;
}
